.header {
    height: 70px;
    width: 100%;
    display: flex;
    position: relative;    justify-content: space-between;
    margin-bottom: 24px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 24px;
    }

    .options-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 12px 16px;
            cursor: pointer;
        }
    }
}